name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false

      - name: Install Python 3.13
        run: uv python install 3.13

      - name: Install the project
        run: uv sync --locked --no-dev

      - name: Extract version from tag and update pyproject.toml
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          uv version $VERSION

      - name: Build
        run: uv build

      - name: Publish package to PyPI
        run: uv publish
