name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install Python 3.13
        run: uv python install 3.13

      - name: Install the project
        run: uv sync --locked --no-dev

      - name: Extract version from tag and update pyproject.toml
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          uv version $VERSION

      - name: Publish package to PyPI
        env:
            POETRY_HTTP_BASIC_PYPI_USERNAME: "__token__"
            POETRY_HTTP_BASIC_PYPI_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          poetry config repositories.pypi https://upload.pypi.org/legacy/
          poetry publish --build --repository pypi --no-interaction