name: Publish Documentation

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install Python 3.13
        run: uv python install 3.13

      - name: Install the project
        run: uv sync --locked --group docs

      - name: Extract version from tag and update pyproject.toml
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          uv version $VERSION

      - name: Sphinx build
        run: |
          uv run sphinx-build docs _build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: _build